html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: url("assets/background.jpg") no-repeat fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
  margin-top: 40px;
  color: #b10dc9;
}
.btn-search {
  border: 2px solid blueviolet;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  background-color: rgb(28, 206, 28);
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  margin-left: 195px;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #e7e2c7;
}
#airportSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 322px;
}
#airlineSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 220px;
}
#airlineID {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 150px;
}
.detailsEntry {
  background-color: rgba(82, 118, 238, 0.767);
  font-size: 20px;
  height: 420px;
  width: 500px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 1px 1px 10px 1px #3feee6;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.airport-search {
  background-color: #41b3a3;
  opacity: 0.9;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-search {
  background-color: #e27d60;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID {
  background-color: #daad86;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.date {
  background-color: #3feee6;
  opacity: 0.9;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID,
.airport-search,
.airline-search,
.date {
  text-align: center;
}
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: url("assets/background.jpg") no-repeat fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}
.heading {
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
  margin-top: 40px;
  color: #b10dc9;
  line-height: 1;
}
.btn-search {
  border: 2px solid blueviolet;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  background-color: rgb(28, 206, 28);
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  margin-left: 195px;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #e7e2c7;
}
#airportSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 322px;
}
#airlineSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 220px;
}
#airlineID {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 150px;
}
.detailsEntry {
  background-color: rgba(82, 118, 238, 0.767);
  font-size: 20px;
  height: 420px;
  width: 500px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 1px 1px 10px 1px #3feee6;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.airport-search {
  background-color: #41b3a3;
  opacity: 0.9;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-search {
  background-color: #e27d60;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID {
  background-color: #daad86;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.date {
  background-color: #3feee6;
  opacity: 0.9;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID,
.airport-search,
.airline-search,
.date {
  text-align: center;
}
/* //////////////////////////////////////////////////// */
/* Footer CSS */
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: white;
}
footer {
  margin-left: 0px;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content {
  display: flex;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
  color: white;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: indianred;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
  margin-right: -13px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: rgb(248, 142, 248);
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
textarea {
  resize: none;
}
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
