html {
  box-sizing: border-box;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}
:root {
  --background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  --first: #53f;
  --second: #4553ff;
  --third: #4f40ff;
  --fourth: #25ddf5;
  --fifth: #1fa2ff;
}

body {
  padding: 0;
  margin: 0;
}

#stripes {
  width: 100%;
  height: 35vw;
  background: var(--background);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  
  transform: skewY(-12deg);
  transform-origin: 0;
}

#stripes span:nth-child(1) {
  grid-column: span 1;
  background: var(--first);
}

#stripes span:nth-child(2) {
  grid-column: span 2;
  background: var(--second);
}

#stripes span:nth-child(3) {
  grid-column: span 2;
  background: var(--third);
}

#stripes span:nth-child(4) {
  grid-column: 6;
  grid-row: 3;
  background: var(--fourth);
}

#stripes span:nth-child(5) {
  grid-column: span 2;
  grid-row: 4;
  background: var(--fifth);
} 
body {
  /* background: url("assets/background.jpg") no-repeat fixed; */
  background-color: #ecf0f1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
  margin-top: 40px;
  color: #0c123b;
}
.btn-search {
  border: 2px solid blueviolet;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  background-color: rgb(28, 206, 28);
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  margin-left: 195px;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #e7e2c7;
}
#airportSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 322px;
}
#airlineSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 220px;
}
#airlineID {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 150px;
}
.detailsEntry {
  background-color: rgba(82, 118, 238, 0.767);
  font-size: 20px;
  height: 420px;
  width: 500px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 1px 1px 10px 1px #3feee6;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  /* font-family: "Helvetica", arial, sans-serif; */
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.airport-search {
  background-color: #41b3a3;
  opacity: 0.9;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-search {
  background-color: #e27d60;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID {
  background-color: #daad86;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID,
.airport-search,
.airline-search,
.date {
  text-align: center;
}
body {
  /* background: url("assets/background.jpg") no-repeat fixed; */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}
.heading {
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  margin: 0 0 24px;
  margin-top: 40px;
  color: #b10dc9;
  line-height: 1;
}
.btn-search {
  border: 2px solid blueviolet;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  background-color: rgb(28, 206, 28);
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  margin-left: 195px;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #e7e2c7;
}
#airportSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 322px;
}
#airlineSearch {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 220px;
}
#airlineID {
  border: 2px solid rgb(241, 10, 10);
  padding: 10px 10px;
  text-decoration: none;
  margin: 25px 0;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 200ms ease-in-out;
  box-sizing: border-box;
  width: 150px;
}
.detailsEntry {
  background-color: rgba(82, 118, 238, 0.767);
  font-size: 20px;
  height: 420px;
  width: 500px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  box-shadow: 1px 1px 10px 1px #3feee6;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  /* font-family: "Helvetica", arial, sans-serif; */
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.airport-search {
  background-color: #41b3a3;
  opacity: 0.9;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-search {
  background-color: #e27d60;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.airline-ID {
  background-color: #daad86;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 2px 2px 15px;
}
.date {
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
.airline-ID,
.airport-search,
.airline-search,
.date {
  text-align: center;
}
/* //////////////////////////////////////////////////// */
/* Footer CSS */
.content1 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.content1 .p {
  font-size: 2.1875rem;
  font-weight: 600;
  color: white;
}

.main-content {
  display: flex;
  /* background: #111; */
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  margin-top: 140px;
  bottom: 0;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
  color: white;
}
.fab,
.far {
  font-weight: 400;
  color: rgb(27, 8, 235);
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  background: #f12020;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: indianred;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  background: rgb(248, 142, 248);
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
textarea {
  resize: none;
}
/* HEADER START */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 100%;
  height: 100px;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    url("") center no-repeat; */
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  background-size: cover;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-top: 0px;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  /* font-family: Arial; */
  text-transform: uppercase;
  font-size: small;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-transform: none;
  font-size: 18px;
  height: 70px;
}

.brand {
  font-size: 35px;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn 0.5s forwards;
}

.brand span {
  color: crimson;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

/* HEADER END */
/* FORM START */
.form {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: -190px;
  position: absolute;
  
}
.form .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #564cdf);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
} */
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: dodgerblue;

}
form .button input {background-image: linear-gradient(to right, dodgerblue 0%, #26a0da  51%, #17699c  100%)}
form .button input {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

  form .button input:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 } 

/* form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #564cdf);
} */
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
/* FORM END */

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
